<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

</head>
<body>
    <h1>Containers list:</h1>
    <ol>
        {% for i in containers %}
        <li>{{ i.id[:10] }}, {{ i.name }} <a href="{{ url_for('conrainer_logs', cid=i.id) }}">{{ i.name }} logs</a></li></li>
        {% endfor %}
    </ol>
</body>
</html>