<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Container {{ id }} logs</title>
    <style>
        .logs {
            border: 1px solid black;
            width: 95%;
            padding: 2%;
        }
    </style>
</head>
<body>
    <h1> Container {{ id }} logs </h1>
    <div class="logs">
	<pre>
{{ logs }}
       </pre>
    </div>
</body>
</html>
